#topbar {
	background-color: gray;
	border-radius: 25px;
	max-width: 900px;
	padding: 25px;
	margin: 5px;
}

#greeting {
	float: left;
	margin: 16px 0 16px 0;
}

section {
	background-color: #1f9a2e;
	border-radius: 25px;
	max-width: 900px;
	padding: 25px;
	margin:; 5px;
}

nav ul {
	list-style-type: none;
	text-align: right;
}

nav ul li {
	display: inline;
	padding: 0 0 0 10px;
}
